{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>GAMB store</title>
    <link rel="icon" type="image/gif/png" href="images\circle.png">
    <link rel="stylesheet" href="{% static 'store/style.css' %}">

</head>

<body>

    <body class="slider-collapse">
        <div id=site-content>
            <div class="site-header">
                <div class="container">
                    <a href="GAMPindex.html" id="branding">
                        <img src="images\logo-removebg-preview.png" alt="" class="logo">
                        <div class="logo-text">
                            <h1 class="site-title">GAMB Store</h1>
                            <small class="site-description">Be wise, <br>GAMBit wise</small>
                        </div>
                    </a>
                    <!-- #branding -->

                    <div class="right-section pull-right">
                        <img src="images\photo.jpg.png" style="width:1.5em;height: 1.5em; border-radius: 10em;">
                        <a href="login.html" class="login-button">Login/Register</a>
                    </div>
                    <!-- .right-section -->

                        
                    <!-- .main-navigation -->
                </div>
                <!-- .container -->
            </div>
            <!-- .header -->
            <div class="About"
                style="background-color:rgb(77, 71, 71); color:aliceblue; margin: 5em 10em 5em 10em; padding:2em 2em 2em 2em;">
                <h1>About the website</h1>
                <h3>XY</h3>
                <p>I23</p>

            </div>
            <div class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="widget">
                                <h3 class="widget-title">Information</h3>
                                <ul class="no-bullet">
                                    <li><a href="#">Site map</a></li>
                                    <li><a href="ToS.html">Terms of Service</a></li>
                                    <li><a href="about.html">About us</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <!--check if we will keep this or we'll remove it later-->
                                    <li><a href="#">Contact</a></li>
                                    <!--check if we will keep this or we'll remove it later-->
                                </ul>
                            </div>
                            <!-- .widget -->
                        </div>
                        <!-- column -->
                        <div class="col-md-2">
                            <div class="widget">
                                <h3 class="widget-title">My Account</h3>
                                <ul class="no-bullet">
                                    <li><a href="login.html">Login/Register</a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                            <!-- .widget -->
                        </div>
                        <!-- column -->
                        <div class="col-md-6">
                            <div class="widget">
                                <h3 class="widget-title">Join our newsletter</h3>
                                <form action="#" class="newsletter-form">
                                    <input type="text" placeholder="Enter your email...">
                                    <input type="submit" value="Subsribe">
                                </form>
                            </div>
                            <!-- .widget -->
                        </div>
                        <!-- column -->
                    </div>
                    <!-- .row -->

                    <div class="colophon">
                        <div class="copy">Copyright 2021 GAMB store. Designed by ABN team. All rights reserved.</div>
                    </div>
                    <!-- .colophon -->
                </div>
                <!-- .container -->
            </div>
            <!-- .site-footer -->

    </body>

</html>