{% extends 'store/base.html' %}
{% load static %}

{% block title %} Movies Recommendations {% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">Movies Recommendations</h2>
                    </header>

                    <div class="test1-list">
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <a href="single.html"><img src="" alt="Game 1"></a>
                                </div>
                                <h3 class="test1-title"><a href="#"></a></h3>
                                <h3 class="test1-category"><a href="#"></a></h3>
                                <small class="price"></small>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </main>
{% endblock %}