{% extends 'store/base.html' %}
{% load static %}

{% block title %} New Releases Apps {% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">New Releases Apps</h2>
                    </header>
                    <div class="test1-list">
                        {% for app in newReleasesApps %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <img src="{{app.Image.url}}" alt="Game 1">
                                </div>
                                <h3 class="test1-title"><a href="/appItem/{{app.id}}">{{app.Name}}</a></h3>
                                <h3 class="test1-category">{{app.Genre}}</h3>
                                <small class="price">{{app.Price}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </main>

{% endblock %}