{% extends 'store/base.html' %}
{% load static %}

{% block title %} Top Selling Books {% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">Top Selling</h2>
                    </header>

                    <div class="test1-list">
                        {% for book in topSellingsBooks %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <a href="single.html"><img src="{{book.Image.url}}" alt="Game 1"></a>
                                </div>
                                <h3 class="test1-title"><a href="#">{{book.Name}}</a></h3>
                                <h3 class="test1-category"><a href="#">{{book.Genre}}</a></h3>
                                <small class="price">{{book.PriceLBP}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>

    </main>
{% endblock %}