{% extends 'store/base.html' %}
{% load static %}

{% block title %} Top Sellings Apps {% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="filter-bar">
                <div class="filter">
                    <form method="POSt">
                        {% csrf_token %}
                        <span>
                            <label>Filter by:</label>
                            <select name="filter" onchange="form.submit()">
                                <option value="Action" selected>Genres</option>
                                <option value="Action">Action</option>
                                <option value="Fiction">Fiction</option>
                                <option value="Comics">Comics</option>
                                <option value="Horror">Horror</option>
                                <option value="Romantic">Romantic</option>
                                <option value="Top Selling">Top Selling</option>
                                <option value="New Releases">New Releases</option>
                            </select>
                        </span>
                    </form>
                </div>
            </div>
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">Top Sellings Apps</h2>
                    </header>
                    <div class="product-list">
                        {% for app in topSellingsApps %}
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="{{app.Image.url}}" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">{{app.Name}}</a></h3>
                                <h3 class="product-category"><a href="#">{{app.Genre}}</a></h3>
                                <small class="price">LBP {{app.PriceLBP}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </main>

{% endblock %}