{% extends 'store/base.html' %}
{% load static %}

{% block title %} Applications {% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="filter-bar">
                <div class="filter">
                    <form method="POST">
                        {% csrf_token %}
                        <span>
                            <label>Filter by:</label>
                            <select name="filter" onchange="form.submit()">
                                <option value="Action" selected>Genres</option>
                                <optgroup label="Books">
                                <option value="Action">Action</option>
                                <option value="Fiction">Fiction</option>
                                <option value="Comics">Comics</option>
                                <option value="Horror">Horror</option>
                                <option value="Romantic">Romantic</option>

                                <optgroup label="Movies">
                                <option value="Animation">Animation</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Science Fiction">Science Fiction</option>
                                <option value="Drama">Drama</option>
                                <option value="Adventure">Adventure</option>

                                <optgroup label="Games">
                                <option value="Social Simulation">Social Simulation</option>
                                <option value="Action">Action</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Racing">Racing</option>
                                <option value="Sports">Sports</option>
                                <option value="Battle Royale">Battle Royale</option>
                                <option value="Shooting">Shooting</option>
                                <option value="Role Playing">Role Playing</option>

                                <optgroup label="Applications">
                            </select>
                        </span>
                    </form>
                </div>
            </div>
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">Top Selling</h2>
                        <a href="{% url 'topSellingApplications' %}" class="all">Show All</a>
                    </header>



                    <div class="test1-list">
                        {% for app in tenTopSellingApps %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <img src="{{app.Image.url}}" alt="Game 1">
                                </div>
                                <h3 class="test1-title"><a href="/appItem/{{application.id}}">{{app.Name}}</a></h3>
                                <h3 class="test1-category">{{app.Genre}}</h3>
                                <small class="price">LBP {{app.PriceLBP}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <header>
                        <h2 class="section-title">New Releases</h2>
                        <a href="{% url 'newReleasesApplications' %}" class="all">Show All</a>
                    </header>

                    <div class="test1-list">
                        {% for book in tenNewReleasesApps %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <img src="{{book.Image.url}}" alt="Game 1">
                                </div>
                                <h3 class="test1-title"><a href="/appItem/{{application.id}}">{{book.Name}}</a></h3>
                                <h3 class="test1-category">{{book.Genre}}</h3>
                                <small class="price">LBP {{book.PriceLBP}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <header>
                        <h2 class="section-title">Recommendations</h2>
                        <a href="{% url 'applicationsRecommendations' %}" class="all">Show All</a>
                    </header>
                    <div class="test1-list">
                        {% for app in tenRecommendations %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <img src="{{app.Image.url}}" alt="Game 1">
                                </div>
                                <h3 class="test1-title"><a href="/appItem/{{application.id}}">{{app.Name}}</a></h3>
                                <h3 class="test1-category">{{app.Genre}}</h3>
                                <small class="price">LBP {{app.PriceLBP}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </main>

{% endblock %}