{% extends 'store/base.html' %}
{% load static %}

{% block title %} Books {% endblock %} 
{% block styles %} 
    <link rel="stylesheet" href="{% static 'store/item.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div id="contain">
        <div id="body">
            <div class="item">
                <div id="images">
                    <img src="../../../media/test cover.jpg" width="200px" height="350px" alt="Book Cover">
                    <div class="mini-images">
                        <a href=""><img src="../../../media/Cover 1.jpg" width="50px" height="70px" alt="Book Cover"></a>
                        <a href=""><img src="../../../media/Cover 2.jpg" width="50px" height="70px" alt="Book Cover"></a>
                        <a href=""><img src="../../../media/Cover 3.jpg" width="50px" height="70px" alt="Book Cover"></a>
                    </div>
    
                </div>
                
                <div class="description">
                    <h2 style="color: #27995e;">The King of Drugs</h2>
                    <div style="color: #27995e;" id="special">
                        <h3>Free</h3>
                        <h4><a href="" style="color: #27995e;">-> add to WishList</a></h4>
                    </div>
                    <table>
                        <tr>
                            <td class="title">Rating: </td>
                            <td>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Average Reviews: </td>
                            <td>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Reviewers #:</td>
                            <td>1578</td>
                        </tr>
                        <tr>
                            <td class="title">Genre: </td>
                            <td>{{books.Genre}}</td>
                        </tr>
                        <tr>
                            <td class="title">Author: </td>
                            <td>Nora Barrett</td>
                        </tr>
                        <tr>
                            <td class="title">Description: </td>
                            <td>{{books.Description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div id="trailer" >
                <iframe src="https://www.youtube.com/embed/foj3lB7vtDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    
            <div id="cast-credit" >
                <div class="cc">
                    <h4>Cast: </h4>
                    <ul>
                        <li>John Brick</li>
                        <li>Samantha Jilali</li>
                        <li>Da hmad Bou Tfounaset</li>
                        <li>Iwis n Dada Bihi</li>
                        <li>Abouch Galoush</li>
                    </ul>
                </div>
                
                <div class="cc">
                    <h4>Credit: </h4>
                    <ul>
                        <li>John Brick</li>
                        <li>Samantha Jilali</li>
                        <li>Da hmad Bou Tfounaset</li>
                        <li>Iwis n Dada Bihi</li>
                        <li>Abouch Galoush</li>
                    </ul>
                </div>
            </div>
            <div id="Reviews">
                <table>
                    <thead>
                        <th colspan="2"><h3 id="rev">Reviews: </h3></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="../../../media/avatar1.jpg">
                            </td>
                            <td>
                                <div class="review">
                                    <div class="author">
                                        <h5>Moh Abahlal</h5>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div id="span">
                                        <a href=""><span class="fa fa-thumbs-up">403  |  </span></a>
                                        <a href=""><span class="fa fa-thumbs-down">12  |  </span></a>
                                        <a href=""><span class="fa fa-flag"></span></a>
                                    </div>
                                </div>
                                <p>I like this a lot although I haven't really seen it! I'm just commenting this because Nas needs my comment! 
                                    I mean I don't even exist...
                                </p>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <img src="../../../media/avatar2.png">
                            </td>
                            <td>
                                <div class="review">
                                    <div class="author">
                                        <h5>Said Dada Hmad</h5>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div id="span">
                                        <a href=""><span class="fa fa-thumbs-up">120  |  </span></a>
                                        <a href=""><span class="fa fa-thumbs-down">21  |  </span></a>
                                        <a href=""><span class="fa fa-flag"></span></a>
                                    </div>
                                </div>
                                <p>I like this a lot although I haven't really seen it! I'm just commenting this because Nas needs my comment! 
                                    I mean I don't even exist...
                                </p>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <img src="../../../media/avatar3.png">
                            </td>
                            <td>
                                <div class="review">
                                    <div class="author">
                                        <h5>Boutfounaset</h5>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div id="span">
                                        <a href=""><span class="fa fa-thumbs-up">98  |  </span></a>
                                        <a href=""><span class="fa fa-thumbs-down">12  |  </span></a>
                                        <a href=""><span class="fa fa-flag"></span></a>
                                    </div>
                                </div>
                                <p>I like this a lot although I haven't really seen it! I'm just commenting this because Nas needs my comment! 
                                    I mean I don't even exist...
                                </p>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <img src="../../../media/avatar4.png">
                            </td>
                            <td>
                                <div class="review">
                                    <div class="author">
                                        <h5>Saida Inza</h5>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div id="span">
                                        <a href=""><span class="fa fa-thumbs-up">78  |  </span></a>
                                        <a href=""><span class="fa fa-thumbs-down">2  |  </span></a>
                                        <a href=""><span class="fa fa-flag"></span></a>
                                    </div>
                                </div>
                                <p>I like this a lot although I haven't really seen it! I'm just commenting this because Nas needs my comment! 
                                    I mean I don't even exist...
                                </p>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                                <img src="../../../media/avatar5.png">
                            </td>
                            <td>
                                <div class="review">
                                    <div class="author">
                                        <h5>Sana Sonbola</h5>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <div id="span">
                                        <a href=""><span class="fa fa-thumbs-up">129  |  </span></a>
                                        <a href=""><span class="fa fa-thumbs-down">19  |  </span></a>
                                        <a href=""><span class="fa fa-flag"></span></a>
                                    </div>
                                </div>
                                <p>I like this a lot although I haven't really seen it! I'm just commenting this because Nas needs my comment! 
                                    I mean I don't even exist...
                                </p>
                            </td>
                        </tr>
                    </tbody>
                    <th colspan="2"><a href=""><p id="rev">See all Reviews... </p></a></th>
                </table>
            </div>
            
            <h3 id="sim">Similar Products: </h3>
            <div class="product-list">
                <div class="product">
                    <div class="inner-product">
                        <div class="figure-image">
                            <a href="single.html"><img src="../../../media/Cover 1.jpg" alt="cover1"></a>
                        </div>
                        <h3 class="product-title"><a href="#">Wizard Girl</a></h3>
                        <h3 class="product-category"><a href="#">Adventure</a></h3>
                        <small class="price">$15.99</small>
                    </div>
                </div>

                <div class="product">
                    <div class="inner-product">
                        <div class="figure-image">
                            <a href="single.html"><img src="../../../media/Cover 4.jpg" alt="cover4"></a>
                        </div>
                        <h3 class="product-title"><a href="#">Wizard Torrent</a></h3>
                        <h3 class="product-category"><a href="#">Adventure</a></h3>
                        <small class="price">$10.00</small>
                    </div>
                </div>

                <div class="product">
                    <div class="inner-product">
                        <div class="figure-image">
                            <a href="single.html"><img src="../../../media/Cover 3.jpg" alt="cover3"></a>
                        </div>
                        <h3 class="product-title"><a href="#">Travel Around the World</a></h3>
                        <h3 class="product-category"><a href="#">Adventure</a></h3>
                        <small class="price">Free</small>
                    </div>
                </div>

                <div class="product">
                    <div class="inner-product">
                        <div class="figure-image">
                            <a href="single.html"><img src="../../../media/Cover 2.jpg" alt="cover2"></a>
                        </div>
                        <h3 class="product-title"><a href="#">Sea Voyage</a></h3>
                        <h3 class="product-category"><a href="#">Adventure</a></h3>
                        <small class="price">$29.99</small>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
{% endblock %}