{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>GAMB store</title>
    <link rel="icon" type="image/gif/png" href="images\circle.png">
    <link rel="stylesheet" href="{% static 'store/style.css' %}">

</head>

<body class="slider-collapse">
    <div id=site-content>
        <div class="site-header">
            <div class="container">
                <a href="GAMPindex.html" id="branding">
                    <img src="images\logo-removebg-preview.png" alt="" class="logo">
                    <div class="logo-text">
                        <h1 class="site-title">GAMB Store</h1>
                        <small class="site-description">The right GAMBit, <br>the right site</small>
                    </div>
                </a>
                <!-- #branding -->

                <div class="right-section pull-right">
                    <img src="images\photo.jpg.png" style="width:1.5em;height: 1.5em; border-radius: 10em;">
                    <a href="login.html" class="login-button">Login/Register</a>
                </div>
                <!-- .right-section -->

                <div class="main-navigation">
                    <button class="toggle-menu"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item home current-menu-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="menu-item"><a href="x.html">Games</a></li>
                        <li class="menu-item"><a href="y.html">Applications</a></li>
                        <li class="menu-item"><a href="x.html">Movies</a></li>
                        <li class="menu-item"><a href="w.html">Books</a></li>
                    </ul>
                    <!-- .menu -->
                    <div class="search-form">
                        <label><img class="search" src="images\icon-search.png"></label>
                        <input type="text" placeholder="Search...">
                    </div>
                    <!-- .search-form -->

                    <div class="mobile-navigation"></div>
                    <!-- .mobile-navigation -->
                </div>
                <!-- .main-navigation -->
            </div>
            <!-- .container -->
        </div>
        <!-- .header -->
        <main class="main-content">
            <div class="container">
                <div class="page">
                    <section>
                        <header>
                            <h2 class="section-title">Top Selling</h2>
                            <a href="#" class="all">Show All</a>
                        </header>

                        <div class="product-list">
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                    </section>

                    <section>
                        <header>
                            <h2 class="section-title">New Releases</h2>
                            <a href="#" class="all">Show All</a>
                        </header>

                        <div class="product-list">
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                    </section>
                    <section>
                        <header>
                            <h2 class="section-title">Recommendations</h2>
                            <a href="#" class="all">Show All</a>
                        </header>

                        <div class="product-list">
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="#">Title</a></h3>
                                    <h3 class="product-category"><a href="#">Category</a></h3>
                                    <small class="price">$19.00/ Free</small>
                                </div>
                            </div>
                            <!-- .product -->
                    </section>
                    
                    </div>
                    </div>
                    <!-- .container -->
        </main>
        <!-- .main-content -->
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">Information</h3>
                            <ul class="no-bullet">
                                <li><a href="#">Site map</a></li>
                                <li><a href="ToS.html">Terms of Service</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <!--check if we will keep this or we'll remove it later-->
                                <li><a href="#">Contact</a></li>
                                <!--check if we will keep this or we'll remove it later-->
                            </ul>
                        </div>
                        <!-- .widget -->
                    </div>
                    <!-- column -->
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">My Account</h3>
                            <ul class="no-bullet">
                                <li><a href="login.html">Login/Register</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </div>
                        <!-- .widget -->
                    </div>
                    <!-- column -->
                    <div class="col-md-6">
                        <div class="widget">
                            <h3 class="widget-title">Join our newsletter</h3>
                            <form action="#" class="newsletter-form">
                                <input type="text" placeholder="Enter your email...">
                                <input type="submit" value="Subsribe">
                            </form>
                        </div>
                        <!-- .widget -->
                    </div>
                    <!-- column -->
                </div>
                <!-- .row -->

                <div class="colophon">
                    <div class="copy">Copyright 2021 GAMB store. Designed by ABN team. All rights reserved.</div>
                </div>
                <!-- .colophon -->
            </div>
            <!-- .container -->
        </div>
        <!-- .site-footer -->

        </div>
        <!-- .content -->
</body>


</html>