{% extends 'store/base.html' %}
{% load static %}

{% block title %} Books {% endblock %} 
{% block styles %} 
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">Top Selling</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                </section>

                <section>
                    <header>
                        <h2 class="section-title">New Releases</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                </section>
                <section>
                    <header>
                        <h2 class="section-title">Recommendations</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                </section>
                
                </div>
                </div>
                <!-- .container -->
    </main>

{% endblock %}
