{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .bg {
        background-image: url('{% static "store/error.jpg"%}');


        height: 100%;
        width: 100%;
        background-size: cover;
    }
</style>

<body>
    <div class="bg" style="overflow: hidden;">
        <div style="position: relative; left: 10%; top: 40%;">
            <h1 class="display-1">404</h1>
            <h2>The page you are looking for was not found.</h2>
            <a href="{% url 'home' %}" class="btn btn-link">Back to Home</a>
        </div>
    </div>
    
</body>

</html>