{% extends 'store/base.html' %}
{% load static %}

{% block title %} Filtered Items {% endblock %}
{% block styles %}
{% endblock %}

{% block content %}


    <main class="main-content">
        <div class="container">
            <div class="filter-bar">
                <div class="filter">
                    <form method="POST">
                        {% csrf_token %}
                        <span>
                            <label>Filter by:</label>
                            <select name="filter" onchange="form.submit()">
                                <option value="Action" selected disabled>Genres</option>
                                <option value="Animation">Animation</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Science Fiction">Science Fiction</option>
                                <option value="Drama">Drama</option>
                                <option value="Adventure">Adventure</option>
                            </select>
                        </span>
                    </form>
                </div>
            </div>
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">{{filtering}}</h2>
                    </header>
                    <div class="test1-list">
                        {% for movie in filteredMovies %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <a href="/movieItem/{{movie.id}}"><img src="{{movie.Image.url}}" alt="Game 1"></a>
                                </div>
                                <h3 class="test1-title"><a href="#">{{movie.Name}}</a></h3>
                                <h3 class="test1-category"><a href="#">{{movie.Genre}}</a></h3>
                                <small class="price">LBP {{movie.PriceLBP}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>




            </div>
        </div>
    </main>




{% endblock %}