{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  GAMB Store
{% endblock %}

{% block styles %} 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'store/main.css' %}">
{% endblock %}

{% block content %}
    <!-- .header -->
    <main class="main-content">
        <div class="container">
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">Games</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                </section>

                <section>
                    <header>
                        <h2 class="section-title">Applications</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                </section>
                <section>
                    <header>
                        <h2 class="section-title">Movies</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                </section>
                <section>
                    <header>
                        <h2 class="section-title">Books</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="#">Title</a></h3>
                                <h3 class="product-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                        <!-- .product -->
                </section>
                </div>
                </div>
                <!-- .container -->
    </main>
    <!-- .main-content -->
{% endblock %}