{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  GAMB Store
{% endblock %}


{% block styles %} 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'store/main.css' %}">
{% endblock %}

{% block content %}
        <main class="main-content">
            <div class="container">
                <div class="page">
                    <section>
                        <header>
                            <h2 class="section-title">Games</h2>
                            <a href="#" class="all">Show All</a>
                        </header>

                        <div class="product-list">
                            {% for game in games %}
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="{{game.Image.url}}" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="/gameItem/{{game.id}}">{{game.Name}}</a></h3>
                                    <h3 class="product-category"><a href="/gameItem/{{game.id}}">{{game.Genre}}</a></h3>
                                    <small class="price">
                                        {% ifequal currency "LBP" %}
                                        LBP {{game.PriceLBP}}
                                        {% endifequal %}

                                        {% ifequal currency "USD" %}
                                        USD {{game.PriceUSD}}
                                        {% endifequal %}
                                    </small>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        </section>


                <section>
                    <header>
                        <h2 class="section-title">Applications</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        {% for application in applications %}
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="{{application.Image.url}}" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="/appItem/{{application.id}}">{{application.Name}}</a></h3>
                                <h3 class="product-category"><a href="/appItem/{{application.id}}">{{application.Genre}}</a></h3>
                                <small class="price">
                                    {% ifequal currency "LBP" %}
                                    LBP {{application.PriceLBP}}
                                    {% endifequal %}

                                    {% ifequal currency "USD" %}
                                    USD {{application.PriceUSD}}
                                    {% endifequal %}
                                </small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                  
                <section>
                    <header>
                        <h2 class="section-title">Movies</h2>
                        <a href="#" class="all">Show All</a>
                    </header>

                    <div class="product-list">
                        {% for movie in movies %}
                        <div class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="{{movie.Image.url}}" alt="Game 1"></a>
                                </div>
                                <h3 class="product-title"><a href="/movieItem/{{movie.id}}">{{movie.Name}}</a></h3>
                                <h3 class="product-category"><a href="/movieItem/{{movie.id}}">{{movie.Genre}}</a></h3>
                                <small class="price">
                                    {% ifequal currency "LBP" %}
                                    LBP {{movie.PriceLBP}}
                                    {% endifequal %}

                                    {% ifequal currency "USD" %}
                                    USD {{movie.PriceUSD}}
                                    {% endifequal %}
                                </small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <header>
                        <h2 class="section-title">Books</h2>
                        <a href="#" class="all">Show All</a>
                    </header>
                        <div class="product-list">
                            {% for book in books %}
                            <div class="product">
                                <div class="inner-product">
                                    <div class="figure-image">
                                        <a href="single.html"><img src="{{book.Image.url}}" alt="Game 1"></a>
                                    </div>
                                    <h3 class="product-title"><a href="/bookItem/{{book.id}}">{{book.Name}}</a></h3>
                                    <h3 class="product-category"><a href="/bookItem/{{book.id}}">{{book.Genre}}</a></h3>
                                    <small class="price">
                                        {% ifequal currency "LBP" %}
                                        LBP {{book.PriceLBP}}
                                        {% endifequal %}

                                        {% ifequal currency "USD" %}
                                        USD {{book.PriceUSD}}
                                        {% endifequal %}
                                    </small>
                                    <a href="#" class="button">Add to Cart</a>
									<a href="#" class="button muted">Read Details</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </section>


                </div>
                </div>

                <!-- .container -->
    </main>
    <!-- .main-content -->
{% endblock %}

