{% extends 'store/base.html' %}
{% load static %}

{% block title %} Movies {% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="filter-bar">
                <div class="filter">
                    <form method="POSt">
                        {% csrf_token %}
                        <span>
                            <label>Filter by:</label>
                            <select name="filter" onchange="form.submit()">
                                <option value="Action" selected>Genres</option>
                                <option value="Action">Action</option>
                                <option value="Fiction">Fiction</option>
                                <option value="Comics">Comics</option>
                                <option value="Horror">Horror</option>
                                <option value="Romantic">Romantic</option>
                                <option value="Top Selling">Top Selling</option>
                                <option value="New Releases">New Releases</option>
                            </select>
                        </span>
                    </form>
                </div>
            </div>
            <div class="page">
                <section>
                    <header>
                        <h2 class="section-title">Top Selling</h2>
                        <a href="{% url 'topSellingmovies' %}" class="all">Show All</a>
                    </header>



                    <div class="test1-list">
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="test1-title"><a href="#">Title</a></h3>
                                <h3 class="test1-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <header>
                        <h2 class="section-title">New Releases</h2>
                        <a href="{% url 'newReleasesmovies' %}" class="all">Show All</a>
                    </header>

                    <div class="test1-list">
                        {% for book in newReleasesBooks %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <a href="single.html"><img src="{{book.Image.url}}" alt="Game 1"></a>
                                </div>
                                <h3 class="test1-title"><a href="#">{{book.Name}}</a></h3>
                                <h3 class="test1-category"><a href="#">{{book.Genre}}</a></h3>
                                <small class="price">{{book.Price}}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <header>
                        <h2 class="section-title">Recommendations</h2>
                        <a href="{% url 'moviesRecommendations' %}" class="all">Show All</a>
                    </header>
                    <div class="test1-list">
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <a href="single.html"><img src="dummy/game-1.jpg" alt="Game 1"></a>
                                </div>
                                <h3 class="test1-title"><a href="#">Title</a></h3>
                                <h3 class="test1-category"><a href="#">Category</a></h3>
                                <small class="price">$19.00/ Free</small>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

{% endblock %}