{% load static %}
<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'store/main.css' %}">
  <link rel="stylesheet" href="{% static 'store/style.css' %}">

</head>

<body style="padding-bottom: 100px;">
  <div class="site-header">
    <div class="container">
      <a href="{% url 'store-home' %}" id="branding">
        <img src="images\logo-removebg-preview.png" alt="" class="logo">
        <div class="logo-text">
          <h1 class="site-title">GAMB Store</h1>
          <small class="site-description">The right GAMBit, <br>the right site</small>
        </div>
      </a>
      <!-- #branding -->

      <div class="right-section pull-right">
        <img src="images\photo.jpg.png" style="width:1.5em;height: 1.5em; border-radius: 10em;">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
      <!-- .right-section -->
    </div>
    <!-- .container -->
  </div>
  <br><br>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="alert alert-info">
          Your password has been set.
        </div>
        <a href="{% url 'login' %}">Sign In Here</a>
      </div>

    </div>
  </main>

  <div class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Information</h3>
            <ul class="no-bullet">
              <li><a href="#">Site map</a></li>
              <li><a href="ToS.html">Terms of Service</a></li>
              <li><a href="about.html">About us</a></li>
              <li><a href="#">FAQ</a></li>
              <!--check if we will keep this or we'll remove it later-->
              <li><a href="#">Contact</a></li>
              <!--check if we will keep this or we'll remove it later-->
            </ul>
          </div>
          <!-- .widget -->
        </div>
        <!-- column -->
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">My Account</h3>
            <ul class="no-bullet">
              <li><a href="login.html">Login/Register</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
          <!-- .widget -->
        </div>
        <!-- column -->
        <div class="col-md-6">
          <div class="widget">
            <h3 class="widget-title">Join our newsletter</h3>
            <form action="#" class="newsletter-form">
              <input type="text" placeholder="Enter your email...">
              <input type="submit" value="Subsribe">
            </form>
          </div>
          <!-- .widget -->
        </div>
        <!-- column -->
      </div>
      <!-- .row -->

      <div>
        <div class="copy">Copyright 2021 GAMB store. Designed by ABN team. All rights reserved.</div>
      </div>
      <!-- .colophon -->
    </div>
    <!-- .container -->
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>