{% extends 'store/base.html' %}
{% load static %}


{% block title %} {{ movie.Name}} {% endblock %} 
{% block styles %} 
    <link rel="stylesheet" href="{% static 'store/new_item_style.css' %}">
    <link rel="stylesheet" href="{% static 'store/reviews.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}

{% block content %}
    <div id="contain">
        <div id="body">
            <div class="item">
                <div id="images">
                    <img src="{{movie.Image.url}}" width="200px" height="350px" alt="Book Cover" id="mainImage">
                    <div class="mini-images">
                        <img src="{{movie.Image1.url}}" id="im1" width="50px" height="70px" alt="Book Cover" onclick="swapImages(this.id)" onmouseover="changemouse(this.id)">
                        <img src="{{movie.Image2.url}}" id="im2" width="50px" height="70px" alt="Book Cover" onclick="swapImages(this.id)" onmouseover="changemouse(this.id)">
                        <img src="{{movie.Image3.url}}" id="im3" width="50px" height="70px" alt="Book Cover" onclick="swapImages(this.id)" onmouseover="changemouse(this.id)">
                    </div>
    
                </div>
                
                <div class="description">
                    <h2 style="color: #27995e;">{{ movie.Name }}</h2>
                    <div style="color: #27995e;" id="special">
                        <h3>
                            {% if movie.PriceUSD == 0 %}
                                Free
                            {% else %}
                                {% ifequal currency "LBP" %}
                                    LBP {{movie.PriceLBP}}
                                {% endifequal %}

                                {% ifequal currency "USD" %}
                                    $ {{movie.PriceUSD}}
                                {% endifequal %}
                            {% endif %}
                        </h3>
                        <div style="display: inline-block;">
                            <form method="POST">
                                {%csrf_token%}
                                <button name="wishlist" onclick="form.submit()"><b>Add to WishList</b></button>
                            </form>
                            <br>
                            <form method="POST">
                                {%csrf_token%}
                                <h3 style="display: inline;"><b>Currency:</b></h3>
                                <select id="items" name="currency" onchange="form.submit()">
                                    <option value="None" selected disabled>---</option>
                                    <option id="usd" value="USD">USD</option>
                                    <option id="lbp" value="LBP">LBP</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <td class="title">Rating: </td>
                            <td>
                                {% for i in '12345' %}
                                    {% if i|add:0 <= movie.Rating %}
                                        <span class="fa fa-star checked"></span>
                                    {% else %}
                                        <span class="fa fa-star"></span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Average Reviews: </td>
                            <td>
                                {% for i in '12345' %}
                                    {% if i|add:0 <= average %}
                                        <span class="fa fa-star checked"></span>
                                    {% else %}
                                        <span class="fa fa-star"></span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Reviewers #:</td>
                            <td>{{ reviews|length }}</td>
                        </tr>
                        <tr>
                            <td class="title">Genre: </td>
                            <td>{{movie.Genre}}</td>
                        </tr>
                        <tr>
                            <td class="title">Release Date: </td>
                            <td>{{ movie.Date}}</td>
                        </tr>
                        <tr>
                            <td class="title">Sales (copies): </td>
                            <td>{{movie.CopiesSold}}</td>
                        </tr>
                        <tr>
                            <td class="title">Description: </td>
                            <td>{{movie.Description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div id="trailer" >
                <iframe src="{{movie.Trailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    
            <div id="cast-credit" >
                <div class="cc">
                    <h4>Cast: </h4>
                    <ul>
                        {% for castMember in cast %}
                            <li>{{castMember.Name}} </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="cc">
                    <h4>Credit: </h4>
                    <ul>
                        {% for creditMember in credit %}
                            <li>{{creditMember.Job}}: {{creditMember.Name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="ReviewAdd">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Give Personal Review:</legend>
                        <label for="rating">Your Rating:</label>
                        <input type="number" max="5" min="1" name="rating">
                        <textarea id="review_content" name="rev"></textarea>
                        <button name="review">Add Review</button>
                    </fieldset>
                </form>
            </div>

            <div id="Reviews">
                <table>
                    <thead>
                        <th colspan="2"><h3 id="rev">Reviews: </h3></th>
                    </thead>
                    <tbody>
                        {% for review in reviews|slice:':5' %}
                            <tr>
                                <td>
                                    <img src="{{ review.user.profile.Image.url }}">
                                </td>
                                <td>
                                    <div class="review">
                                        <div class="author">
                                            <h5>{{ review.user.username }}</h5>
                                            {% for i in '12345' %}
                                                {% if i|add:0 <= review.Rating %}
                                                    <span class="fa fa-star checked"></span>
                                                {% else %}
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div id="span">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="like" value="{{review.id}}"><span class="fa fa-thumbs-up">{{review.likes}}  |</span></button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="dislike" value="{{review.id}}"><span class="fa fa-thumbs-down">{{review.dislikes}}  |</span></button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="report" value="{{review.id}}"><span class="fa fa-flag"></span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <p>{{review.content}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for review in reviews|slice:'5:' %}
                            <tr style="display:none;">
                                <td>
                                    <img src="{{ review.user.profile.Image.url }}">
                                </td>
                                <td>
                                    <div class="review">
                                        <div class="author">
                                            <h5>{{ review.user.username }}</h5>
                                            {% for i in '12345' %}
                                                {% if i|add:0 <= review.Rating %}
                                                    <span class="fa fa-star checked"></span>
                                                {% else %}
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div id="span">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="like" value="{{review.id}}"><span class="fa fa-thumbs-up">{{review.likes}}  |</span></button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="dislike" value="{{review.id}}"><span class="fa fa-thumbs-down">{{review.dislikes}}  |</span></button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="report" value="{{review.id}}"><span class="fa fa-flag"></span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <p>{{review.content}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <th colspan="2" id="seeAll"><button id="button">See all Reviews...</button></th>
                </table>
            </div>
            
            <h3 id="sim">Similar Products: </h3>
            <div class="test1-list">
                {% for movies in similarMovies %}
                    {% if movies.Name != movie.Name %}
                    <div class="test1">
                        <div class="inner-test1">
                            <div class="figure-image">
                                <a href="/movieItem/{{movies.id}}"><img src="{{ movies.Image.url }}" alt="cover1"></a>
                            </div>
                            <h3 class="test1-title"><a href="/movieItem/{{movies.id}}">{{ movies.Name }}</a></h3>
                            <h3 class="test1-category"><a href="/movieItem/{{movies.id}}">{{ movies.Genre }}</a></h3>
                            <small class="price">
                                {% if movies.PriceUSD == 0 %}
                                    Free
                                {% else %}
                                    {% ifequal currency "LBP" %}
                                        LBP {{movies.PriceLBP}}
                                    {% endifequal %}

                                    {% ifequal currency "USD" %}
                                        $ {{movies.PriceUSD}}
                                    {% endifequal %}
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script>

        function changemouse(id){
            let selected = document.getElementById(id) ;
            selected.style.cursor = "pointer";
        }

        function swapImages(id){
            let main = document.getElementById("mainImage") ;
            let main_src = main.getAttribute("src") ;
            let clicked = document.getElementById(id) ;
            let new_main = clicked.getAttribute("src") ;
            main.setAttribute("src" , new_main) ;
            clicked.setAttribute("src" , main_src) ;
        }

        window.onload = function() {
            document.getElementById("button").onclick = displayReviews ;
        }

        function $(id) {return document.getElementById(id) ;} 

        function displayReviews(){
            let table = document.getElementById("Reviews") ;
            let review_rows = table.getElementsByTagName("tr") ;
            for(let i = 0 ; i < review_rows.length ; i++) {
                review_rows[i].style.display = "table-row" ;
            }
            document.getElementById("seeAll").style.display = "none";
        }
        document.getElementById("selected")
    </script>


{% endblock %}