{% extends 'store/base.html' %}
{% load static %}


{% block title %} {{game.Name}} {% endblock %} 
{% block styles %} 
    <link rel="stylesheet" href="{% static 'store/new_item_style.css' %}">
    <link rel="stylesheet" href="{% static 'store/reviews.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div id="contain">
        <div id="body">
            <div class="item">
                <div id="images">
                    <img src="{{game.Image.url}}" width="200px" height="350px" alt="Book Cover" id="mainImage">
                    <div class="mini-images">
                        <img src="{{game.Image1.url}}" id="im1" width="50px" height="70px" alt="Book Cover" onclick="swapImages(this.id)" onmouseover="changemouse(this.id)">
                        <img src="{{game.Image2.url}}" id="im2" width="50px" height="70px" alt="Book Cover" onclick="swapImages(this.id)" onmouseover="changemouse(this.id)">
                        <img src="{{game.Image3.url}}" id="im3" width="50px" height="70px" alt="Book Cover" onclick="swapImages(this.id)" onmouseover="changemouse(this.id)">
                    </div>
    
                </div>
                
                <div class="description">
                    <h2 style="color: #27995e;">{{game.Name}}</h2>
                    <div style="color: #27995e;" id="special">
                        <h3>
                            {% if game.PriceUSD == 0 %}
                                Free
                            {% else %}
                                {% ifequal currency "LBP" %}
                                    LBP {{game.PriceLBP}}
                                {% endifequal %}

                                {% ifequal currency "USD" %}
                                    $ {{game.PriceUSD}}
                                {% endifequal %}
                            {% endif %}
                                
                        </h3>
                        <form method="POST">
                            {%csrf_token%}
                            <button name="wishlist" style="color: #27995e;"  onclick="form.submit()">Add to WishList</button>
                        </form>
                    </div>
                    <table>
                        <tr>
                            <td class="title">Rating: </td>
                            <td>
                                {% for i in '12345' %}
                                    {% if i|add:0 <= game.Rating %}
                                        <span class="fa fa-star checked"></span>
                                    {% else %}
                                        <span class="fa fa-star"></span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Average Reviews: </td>
                            <td>
                                {% for i in '12345' %}
                                    {% if i|add:0 <= average %}
                                        <span class="fa fa-star checked"></span>
                                    {% else %}
                                        <span class="fa fa-star"></span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Reviewers #:</td>
                            <td>{{ reviews|length }}</td>
                        </tr>
                        <tr>
                            <td class="title">Genre: </td>
                            <td>{{game.Genre}}</td>
                        </tr>
                        <tr>
                            <td class="title">Release Date: </td>
                            <td>{{ game.Date }}</td>
                        </tr>
                        <tr>
                            <td class="title">Sales (copies): </td>
                            <td>{{ game.CopiesSold }}</td>
                        </tr>
                        <tr>
                            <td class="title">Description: </td>
                            <td>{{game.Description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            
            <div id="ReviewAdd">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Give Personal Review:</legend>
                        <label for="rating">Your Rating:</label>
                        <input type="number" max="5" min="1" name="rating">
                        <textarea id="review_content" name="rev"></textarea>
                        <button name="review">Add Review</button>
                    </fieldset>
                </form>
            </div>

            <div id="Reviews">
                <table>
                    <thead>
                        <th colspan="2"><h3 id="rev">Reviews: </h3></th>
                    </thead>
                    <tbody>
                        {% for review in reviews|slice:':5' %}
                            <tr>
                                <td>
                                    <img src="{{ review.user.profile.Image.url }}">
                                </td>
                                <td>
                                    <div class="review">
                                        <div class="author">
                                            <h5>{{ review.user.username }}</h5>
                                            {% for i in '12345' %}
                                                {% if i|add:0 <= review.Rating %}
                                                    <span class="fa fa-star checked"></span>
                                                {% else %}
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div id="span">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="like" value="{{review.id}}"><span class="fa fa-thumbs-up">{{review.likes}}  |</span></button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="dislike" value="{{review.id}}"><span class="fa fa-thumbs-down">{{review.dislikes}}  |</span></button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="report" value="{{review.id}}"><span class="fa fa-flag"></span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <p>{{review.content}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for review in reviews|slice:'5:' %}
                            <tr style="display:none;">
                                <td>
                                    <img src="{{ review.user.profile.Image.url }}">
                                </td>
                                <td>
                                    <div class="review">
                                        <div class="author">
                                            <h5>{{ review.user.username }}</h5>
                                            {% for i in '12345' %}
                                                {% if i|add:0 <= review.Rating %}
                                                    <span class="fa fa-star checked"></span>
                                                {% else %}
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div id="span">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="like" value="{{review.id}}"><span class="fa fa-thumbs-up">{{review.likes}}  |</span></button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="dislike" value="{{review.id}}"><span class="fa fa-thumbs-down">{{review.dislikes}}  |</span></button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button name="report" value="{{review.id}}"><span class="fa fa-flag"></span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <p>{{review.content}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <th colspan="2" id="seeAll"><button id="button">See all Reviews...</button></th>
                </table>
            </div>
            
            <h3 id="sim">Similar Products: </h3>
            <div class="test1-list">
                {% for games in similarGames %}
                    {% if games.Name != game.Name %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <a href="/gameItem/{{games.id}}"><img src="{{ games.Image.url }}" alt="cover1"></a>
                                </div>
                                <h3 class="test1-title"><a href="/gameItem/{{games.id}}">{{ games.Name }}</a></h3>
                                <h3 class="test1-category"><a href="/gameItem/{{games.id}}">{{ games.Genre }}</a></h3>
                                <small class="price">
                                    {% if games.PriceUSD == 0 %}
                                        Free
                                    {% else %}
                                        {% ifequal currency "LBP" %}
                                            LBP {{games.PriceLBP}}
                                        {% endifequal %}

                                        {% ifequal currency "USD" %}
                                            $ {{games.PriceUSD}}
                                        {% endifequal %}
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        
        function changemouse(id){
            let selected = document.getElementById(id) ;
            selected.style.cursor = "pointer";
        }

        function swapImages(id){
            let main = document.getElementById("mainImage") ;
            let main_src = main.getAttribute("src") ;
            let clicked = document.getElementById(id) ;
            let new_main = clicked.getAttribute("src") ;
            main.setAttribute("src" , new_main) ;
            clicked.setAttribute("src" , main_src) ;
        }
        window.onload = function() {
            document.getElementById("button").onclick = displayReviews ;
        }

        function $(id) {return document.getElementById(id) ;} 

        function displayReviews(){
            let table = document.getElementById("Reviews") ;
            let review_rows = table.getElementsByTagName("tr") ;
            for(let i = 0 ; i < review_rows.length ; i++) {
                review_rows[i].style.display = "table-row" ;
            }
            document.getElementById("seeAll").style.display = "none";
        }
    </script>
{% endblock %}