<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>GAMB store</title>
    <link rel="icon" type="image/gif/png" href="images\circle.png">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <body class="slider-collapse">
        <div id=site-content>
            <div class="site-header">
                <div class="container">
                    <a href="GAMPindex.html" id="branding">
                        <img src="images\logo-removebg-preview.png" alt="" class="logo">
                        <div class="logo-text">
                            <h1 class="site-title">GAMB Store</h1>
                            <small class="site-description">Be wise, <br>GAMBit wise</small>
                        </div>
                    </a>
                    <!-- #branding -->

                    <div class="right-section pull-right">
                        <img src="images\photo.jpg.png" style="width:1.5em;height: 1.5em; border-radius: 10em;">
                        <a href="login.html" class="login-button">Login/Register</a>
                    </div>
                    <!-- .right-section -->

                    <div class="main-navigation">
                        <button class="toggle-menu"><i class="fa fa-bars"></i></button>
                        <ul class="menu">
                            <li class="menu-item home current-menu-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="menu-item"><a href="x.html">Games</a></li>
                            <li class="menu-item"><a href="y.html">Applications</a></li>
                            <li class="menu-item"><a href="x.html">Movies</a></li>
                            <li class="menu-item"><a href="w.html">Books</a></li>
                        </ul>
                        <!-- .menu -->
                        <div class="search-form">
                            <label><img class="search" src="images\icon-search.png"></label>
                            <input type="text" placeholder="Search...">
                        </div>
                        <!-- .search-form -->

                        <div class="mobile-navigation"></div>
                        <!-- .mobile-navigation -->
                    </div>
                    <!-- .main-navigation -->
                </div>
                <!-- .container -->
            </div>
            <!-- .header -->
            <div class="ToF" style="background-color:rgb(77, 71, 71); color:aliceblue; margin: 5em 10em 5em 10em; padding:2em 2em 2em 2em;">
                <h3>Please read these terms of service carefully before using GAMB store website operated by our team (CMPS 278 class).
                </h3>
                <h3>Conditions of use</h3>
                <p>By using this website, you certify that you have read and reviewed this Agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this Agreement, you are advised to leave the website accordingly.
                    GAMB store only grants use and access of this website, its products, and its services to those who have accepted its terms.
                </p>
                <h3>Privacy policy</h3>
                <p> Before you continue using our website, we advise you to read our privacy policy LINK regarding our user data collection. It will help you better understand our practices.
                </p>
                <h3>Age restriction</h3>
                <p>You must be at least 12 (twelve) years of age before you can use this website. By using this website, you warrant that you are at least 12 years of age and you may legally adhere to this Agreement. GAMB store assumes no responsibility
                    for liabilities related to age misrepresentation. </p>
                <h3>Intellectual property</h3>
                <p> You agree that all materials, products, and services provided on this website are the property of GAMB store, its affiliates, directors, officers, employees, agents, suppliers, or licensors including all copyrights, trade secrets, trademarks,
                    patents, and other intellectual property. You also agree that you will not reproduce or redistribute the GAMB store’s intellectual property in any way, including electronic, digital, or new trademark registrations. You grant GAMB store
                    a royalty-free and non-exclusive license to display, use, copy, transmit, and broadcast the content you upload and publish. For issues regarding intellectual property claims, you should contact the company in order to come to an agreement.
                </p>
                <h3>User accounts</h3>
                <p>As a user of this website, you may be asked to register with us and provide private information. You are responsible for ensuring the accuracy of this information, and you are responsible for maintaining the safety and security of your
                    identifying information. You are also responsible for all activities that occur under your account or password. If you think there are any possible issues regarding the security of your account on the website, inform us immediately
                    so we may address it accordingly. We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion. </p>
                <h3>Applicable law </h3>
                <p>By visiting this website, you agree that the laws of the [location], without regard to principles of conflict laws, will govern these terms and conditions, or any dispute of any sort that might come between GAMB store and you, or its business
                    partners and associates. </p>
                <h3>Disputes</h3>
                <p> Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court [location] and you consent to exclusive jurisdiction and venue of such courts. </p>
                <h3>Indemnification</h3>
                <p> You agree to indemnify GAMB store and its affiliates and hold GAMB store harmless against legal claims and demands that may arise from your use or misuse of our services. We reserve the right to select our own legal counsel.</p>
                <h3> Limitation on liability</h3>
                <p> GAMB store is not liable for any damages that may occur to you as a result of your misuse of our website. GAMB store reserves the right to edit, modify, and change this Agreement any time. We shall let our users know of these changes through
                    electronic mail. This Agreement is an understanding between GAMB store and the user, and this supersedes and replaces all prior agreements regarding the use of this website.
                </p>
            </div>
            <div class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="widget">
                                <h3 class="widget-title">Information</h3>
                                <ul class="no-bullet">
                                    <li><a href="#">Site map</a></li>
                                    <li><a href="ToS.html">Terms of Service</a></li>
                                    <li><a href="about.html">About us</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <!--check if we will keep this or we'll remove it later-->
                                    <li><a href="#">Contact</a></li>
                                    <!--check if we will keep this or we'll remove it later-->
                                </ul>
                            </div>
                            <!-- .widget -->
                        </div>
                        <!-- column -->
                        <div class="col-md-2">
                            <div class="widget">
                                <h3 class="widget-title">My Account</h3>
                                <ul class="no-bullet">
                                    <li><a href="login.html">Login/Register</a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                            <!-- .widget -->
                        </div>
                        <!-- column -->
                        <div class="col-md-6">
                            <div class="widget">
                                <h3 class="widget-title">Join our newsletter</h3>
                                <form action="#" class="newsletter-form">
                                    <input type="text" placeholder="Enter your email...">
                                    <input type="submit" value="Subsribe">
                                </form>
                            </div>
                            <!-- .widget -->
                        </div>
                        <!-- column -->
                    </div>
                    <!-- .row -->

                    <div class="colophon">
                        <div class="copy">Copyright 2021 GAMB store. Designed by ABN team. All rights reserved.</div>
                    </div>
                    <!-- .colophon -->
                </div>
                <!-- .container -->
            </div>
            <!-- .site-footer -->

    </body>

</html>