{% extends 'store/base.html' %}
{% load static %}


{% block title %} Visited Items {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'store/item.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main class="main-content">
    <div class="container">
        <div class="page">
            <section>
                <header>
                    <h2 class="section-title">Visited Items in the past 24 hours</h2>
                </header>
                <div class="test1-list">
                    {% for item in lastVisited %}
                        {% ifnotequal item.movie_id None %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <img src="{{item.movie_id.Image.url}}" alt="Game 1">
                                </div>
                                <h3 class="test1-title"><a href="/movieItem/{{item.movie_id.id}}">{{item.movie_id.Name}}</a></h3>
                                <h3 class="test1-category"><a href="/movieItem/{{item.movie_id.id}}">{{item.movie_id.Genre}}</a></h3>
                                <small class="price">{{item.movie_id.Price}}</small>
                            </div>
                        </div>
                        {% endifnotequal %}
                        {% ifnotequal item.book_id None %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <img src="{{item.book_id.Image.url}}" alt="Game 1">
                                </div>
                                <h3 class="test1-title"><a href="/bookItem/{{item.book_id.id}}">{{item.book_id.Name}}</a></h3>
                                <h3 class="test1-category"><a href="/bookItem/{{item.book_id.id}}">{{item.book_id.Genre}}</a></h3>
                                <small class="price">{{item.book_id.Price}}</small>
                            </div>
                        </div>
                        {% endifnotequal %}
                        {% ifnotequal item.game_id None %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <img src="{{item.game_id.Image.url}}" alt="Game 1">
                                </div>
                                <h3 class="test1-title"><a href="/gameItem/{{item.game_id.id}}">{{item.game_id.Name}}</a></h3>
                                <h3 class="test1-category"><a href="/gameItem/{{item.game_id.id}}">{{item.game_id.Genre}}</a></h3>
                                <small class="price">{{item.game_id.Price}}</small>
                            </div>
                        </div>
                        {% endifnotequal %}
                        {% ifnotequal item.application_id None %}
                        <div class="test1">
                            <div class="inner-test1">
                                <div class="figure-image">
                                    <img src="{{item.application_id.Image.url}}" alt="Game 1">
                                </div>
                                <h3 class="test1-title"><a href="/appItem/{{item.application_id.id}}">{{item.application_id.Name}}</a></h3>
                                <h3 class="test1-category"><a href="/appItem/{{item.application_id.id}}">{{item.application_id.Genre}}</a></h3>
                                <small class="price">{{item.application_id.Price}}</small>
                            </div>
                        </div>
                        {% endifnotequal %}
                    {% endfor %}
                    
                </div>
            </section>
        </div>
    </div>
</main>


{% endblock %}